<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lucasmora.mirrornext">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MirrorNext">
        <activity android:name="com.lucasmora.mirrornext.TelaLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lucasmora.mirrornext.EsqueciMinhaSenha"
            android:parentActivityName="com.lucasmora.mirrornext.TelaLogin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lucasmora.mirrornext.TelaLogin" />
        </activity>
        <activity
            android:name="com.lucasmora.mirrornext.Atalhos"
            android:parentActivityName="com.lucasmora.mirrornext.TelaLogin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lucasmora.mirrornext.TelaLogin" />
        </activity>
        <activity
            android:name="com.lucasmora.mirrornext.TelaPrincipal"
            android:parentActivityName="com.lucasmora.mirrornext.TelaLogin"
            android:theme="@style/TemaTelaPrincipal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lucasmora.mirrornext.TelaLogin" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>